/* stylelint-disable no-descending-specificity */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable block-no-empty */
/* stylelint-disable no-descending-specificity */
/* WP Dashboard Menu */
#toplevel_page_avada > ul.wp-submenu {
  padding-bottom: 0;
}
#toplevel_page_avada > ul.wp-submenu a[href="admin.php?page=avada-patcher"],
#toplevel_page_avada > ul.wp-submenu a[href="admin.php?page=avada-plugins"],
#toplevel_page_avada > ul.wp-submenu a[href="admin.php?page=avada-support"],
#toplevel_page_avada > ul.wp-submenu a[href="themes.php?page=avada_options#heading_maintenance"],
#toplevel_page_avada > ul.wp-submenu a[href="admin.php?page=avada-performance"],
#toplevel_page_avada > ul.wp-submenu a[href="admin.php?page=avada-critical"],
#toplevel_page_avada > ul.wp-submenu a[href="admin.php?page=avada-status"] {
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: -5px 0 0 0 rgba(255, 255, 255, 0.1);
}
#toplevel_page_avada > ul.wp-submenu a[href="admin.php?page=avada-patcher"]:hover,
#toplevel_page_avada > ul.wp-submenu a[href="admin.php?page=avada-plugins"]:hover,
#toplevel_page_avada > ul.wp-submenu a[href="admin.php?page=avada-support"]:hover,
#toplevel_page_avada > ul.wp-submenu a[href="themes.php?page=avada_options#heading_maintenance"]:hover,
#toplevel_page_avada > ul.wp-submenu a[href="admin.php?page=avada-performance"]:hover,
#toplevel_page_avada > ul.wp-submenu a[href="admin.php?page=avada-critical"]:hover,
#toplevel_page_avada > ul.wp-submenu a[href="admin.php?page=avada-status"]:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 4px 0 0 0 currentColor, -5px 0 0 0 rgba(255, 255, 255, 0.1);
}
#toplevel_page_avada > ul.wp-submenu a[href*="admin.php?page=avada-patcher"],
#toplevel_page_avada > ul.wp-submenu a[href="admin.php?page=avada-status"] {
  padding-bottom: 8px;
}
#toplevel_page_avada > ul.wp-submenu a[href="admin.php?page=avada-patcher"] {
  padding-top: 8px;
  padding-bottom: 5px;
}
#toplevel_page_avada > ul.wp-submenu a[href="admin.php?page=avada-builder-options"],
#toplevel_page_avada > ul.wp-submenu a[href="admin.php?page=avada-layout-sections"],
#toplevel_page_avada > ul.wp-submenu a[href="admin.php?page=avada-form-entries"],
#toplevel_page_avada > ul.wp-submenu a[href="admin.php?page=avada_slider_export_import"],
#toplevel_page_avada > ul.wp-submenu a[href="admin.php?page=avada-setup"] {
  display: none;
}
.show-layout-sections #toplevel_page_avada > ul.wp-submenu a[href="admin.php?page=avada-layout-sections"] {
  display: block;
}
#toplevel_page_avada .toplevel_page_avada .wp-menu-image.dashicons-avada:before,
#toplevel_page_avada_sliders .toplevel_page_avada_sliders .wp-menu-image.dashicons-avada:before,
#wpadminbar #wp-admin-bar-fb-edit > .ab-item:before,
#menu-posts-avada_portfolio .dashicons-awb-portfolio:before,
#menu-posts-avada_faq .dashicons-awb-faq:before {
  content: "\e936";
  font-size: 16px;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
#menu-posts-avada_portfolio .dashicons-awb-portfolio:before {
  content: "\e625";
  margin-top: 2px;
}
#menu-posts-avada_faq .dashicons-awb-faq:before {
  content: "\e603";
  margin-top: 2px;
}
#wpadminbar #wp-admin-bar-fb-edit > .ab-item:before {
  top: 4px;
}
#wpadminbar #wp-admin-bar-awb-site-mode {
  display: flex;
  align-items: center;
  height: 32px;
}
#wpadminbar #wp-admin-bar-awb-site-mode > .ab-item {
  display: inline-flex;
  align-items: center;
  padding: 0.25em 0.5em;
  height: 14px;
  border-radius: 0.35em;
  line-height: 1;
  transition: opacity 0.2s ease-in-out;
}
#wpadminbar #wp-admin-bar-awb-site-mode > .ab-item:hover,
#wpadminbar #wp-admin-bar-awb-site-mode > .ab-itemfocus {
  opacity: 0.9;
}
#wpadminbar .awb-site-mode-badge-avada > .ab-item:before {
  content: "\e936";
  padding: 0;
  font-size: 12px;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #f0f0f1 !important;
}
#wpadminbar .awb-site-mode-badge-live > .ab-item {
  background-color: #65bc7b !important;
  color: #f0f0f1 !important;
}
#wpadminbar .awb-site-mode-badge-coming-soon > .ab-item {
  background-color: #198fd9 !important;
  color: #f0f0f1 !important;
}
#wpadminbar .awb-site-mode-badge-maintenance > .ab-item {
  background-color: #dc3232 !important;
  color: #f0f0f1 !important;
}
#wpadminbar #wp-admin-bar-fb-edit .ab-item {
  height: auto;
}
#wpadminbar #wp-admin-bar-fb-edit .ab-item:hover .awb-edit-type,
#wpadminbar #wp-admin-bar-fb-edit .ab-item:focus .awb-edit-type,
#wpadminbar #wp-admin-bar-fb-edit .ab-item:active .awb-edit-type {
  color: inherit;
}
#wpadminbar #wp-admin-bar-fb-edit .fb-edit-group {
  border-top: 1px solid #3c434a;
}
#wpadminbar #wp-admin-bar-fb-edit .awb-layout-group .wp-admin-bar-arrow {
  display: none;
}
#wpadminbar #wp-admin-bar-fb-edit .awb-layout-group .menupop > .ab-item {
  padding: 0 10px;
}
#wpadminbar #wp-admin-bar-fb-edit .awb-layout-group .ab-sub-wrapper {
  margin-top: 0;
  top: 50%;
  transform: translateY(-50%);
}
#wpadminbar #wp-admin-bar-fb-edit .awb-edit-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.3em -0.75em;
}
#wpadminbar #wp-admin-bar-fb-edit .awb-edit-name,
#wpadminbar #wp-admin-bar-fb-edit .awb-edit-type {
  margin: 0 0.75em;
}
#wpadminbar #wp-admin-bar-fb-edit .awb-edit-type {
  line-height: 1;
  background: #3c434a;
  padding: 0.5em;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9em;
}
#toplevel_page_avada .toplevel_page_avada .wp-menu-image.dashicons-avada:before,
#toplevel_page_avada_sliders .toplevel_page_avada_sliders .wp-menu-image.dashicons-avada:before {
  padding: 8px;
  font-size: 18px;
}
.awb-mega-menu-sub-item {
  display: inline-flex;
  padding: 4px 5px;
  border-radius: 4px;
  line-height: 1;
  font-size: 0.8em;
  background-color: #65bd7d;
  color: #fff;
}
.is-submenu {
  margin: 0 4px;
}
.menu-item-handle .item-title {
  margin-right: 4em;
}
@media screen and (max-width: 782px) {
  #wpadminbar #wp-admin-bar-awb-site-mode {
    display: none;
  }
}
.metabox-prefs .avada-logo,
.postbox .hndle .avada-logo {
  margin: 0 0.25em;
}
.metabox-prefs .avada-option-title,
.postbox .hndle .avada-option-title {
  margin: 0 0.25em;
}
.postbox .hndle .avada-logo-wrapper {
  display: inline-flex;
  align-items: center;
  margin: 0 -0.25em;
}
.postbox .hndle .avada-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #65bc7b;
  border-radius: 0.35em;
}
.postbox .hndle .avada-logo:before {
  font-size: inherit;
  color: #fff;
}
#poststuff .pyre_metabox h2 {
  margin-top: 30px;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: 600;
}
#section-post_type_order .controls,
#section-status_revslider .controls {
  display: none;
}
.fusion-featured-image-meta-box a {
  box-shadow: none;
}
.hide-if-no-js a img {
  max-width: 254px;
  height: auto;
}
.pyre_metabox_field textarea {
  max-width: 100%;
}
.post-type-slide #sbg-sortables,
.post-type-slide #slide-page-add-toggle {
  display: none;
}
#pyre_awb_off_canvas .inside,
#pyre_fusion_tb_section .inside,
#pyre_fusion_form .inside,
#pyre_events_calendar_options .inside,
#pyre_page_options .inside,
#pyre_portfolio_options .inside,
#pyre_post_options .inside,
#pyre_slide_options .inside,
#pyre_woocommerce_options .inside {
  padding: 0;
  margin: 0;
}
#pyre_slide_options .pyre_metabox {
  width: 100%;
}
.pyre_metabox_tabs {
  margin: 0;
  padding: 0;
  width: 17%;
  float: left;
  box-sizing: border-box;
  background: #f5f5f5;
}
.rtl .pyre_metabox_tabs {
  float: right;
}
.pyre_metabox_tabs li {
  margin: 0;
  padding: 0;
}
.pyre_metabox_tabs li a {
  display: block;
  font-size: 13px;
  color: #222;
  text-decoration: none;
  padding: 13px;
  border-bottom: 1px solid #e2dddb;
  border-right: 1px solid #e2dddb;
  word-wrap: break-word;
  box-shadow: none;
}
.pyre_metabox_tabs li.active a,
.pyre_metabox_tabs li a:hover {
  background-color: #fff;
  border-right-color: transparent;
}
.pyre_metabox {
  width: 83%;
  float: left;
  box-sizing: border-box;
  padding: 30px 30px 10px;
}
.rtl .pyre_metabox {
  float: right;
}
.pyre_metabox_field {
  border-bottom: 1px solid #f3f3f3;
  padding-top: 14px;
  padding-bottom: 14px;
}
.pyre_metabox_tab .pyre_metabox_field:first-child {
  padding-top: 0;
}
.pyre_metabox_tab {
  display: none;
}
.pyre_metabox_tab.active {
  display: block;
}
.pyre_metabox_tab ul.fusion-viewport-indicator {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #4a5259;
  height: 18px;
  justify-content: flex-end;
  margin: 0;
}
.pyre_metabox_tab ul.fusion-viewport-indicator li {
  margin: 0 10px 0 0;
}
.pyre_metabox_tab ul.fusion-viewport-indicator li.active a,
.pyre_metabox_tab ul.fusion-viewport-indicator li:hover a {
  background: #eef7fd;
  color: #008fc5;
}
.pyre_metabox_tab ul.fusion-viewport-indicator li.fusion-viewport-text {
  text-transform: uppercase;
}
.pyre_metabox_tab ul.fusion-viewport-indicator li a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-decoration: none;
  background: #fff;
  border-radius: 100%;
  color: #93999f;
}
.pyre_metabox_tab ul.fusion-viewport-indicator li a:focus {
  outline: 0;
  box-shadow: none;
}
.pyre_desc {
  width: 44.5%;
  float: left;
}
#poststuff .pyre_metabox h3 {
  margin: 10px 0 5px;
  padding-left: 0 !important;
  font-size: 17px !important;
  color: #b5b4b4;
}
.pyre_desc label {
  font-size: 14px;
  color: #32373c;
  font-weight: 600;
}
.pyre_desc p {
  margin: 8px 0 0;
  color: #555d66;
  font-size: 13px;
}
.pyre_field {
  width: 51.8%;
  float: right;
}
.pyre_field input[type="text"],
.avada-tax-meta-field input[type="text"],
.pyre_field input[type="search"],
.avada-tax-meta-field input[type="search"],
.pyre_field select,
.avada-tax-meta-field select,
.pyre_field textarea,
.avada-tax-meta-field textarea {
  padding: 0.4em 0.8em;
  /* Because of line-height */
  width: 100%;
  border: 1px solid #dfdfdf;
  border-radius: 0.35em;
  font-size: inherit;
  box-shadow: none;
  line-height: 1.7;
  transition: border-color 0.2s cubic-bezier(0.21, 0.6, 0.35, 1);
}
.pyre_field input[type="text"]:hover,
.avada-tax-meta-field input[type="text"]:hover,
.pyre_field input[type="search"]:hover,
.avada-tax-meta-field input[type="search"]:hover,
.pyre_field select:hover,
.avada-tax-meta-field select:hover,
.pyre_field textarea:hover,
.avada-tax-meta-field textarea:hover,
.pyre_field input[type="text"]:focus,
.avada-tax-meta-field input[type="text"]:focus,
.pyre_field input[type="search"]:focus,
.avada-tax-meta-field input[type="search"]:focus,
.pyre_field select:focus,
.avada-tax-meta-field select:focus,
.pyre_field textarea:focus,
.avada-tax-meta-field textarea:focus,
.pyre_field input[type="text"]:active,
.avada-tax-meta-field input[type="text"]:active,
.pyre_field input[type="search"]:active,
.avada-tax-meta-field input[type="search"]:active,
.pyre_field select:active,
.avada-tax-meta-field select:active,
.pyre_field textarea:active,
.avada-tax-meta-field textarea:active {
  border-color: #198fd9;
}
.pyre_field input[type="text"],
.avada-tax-meta-field input[type="text"],
.pyre_field input[type="search"],
.avada-tax-meta-field input[type="search"] {
  margin: 0;
}
.pyre_field textarea,
.avada-tax-meta-field textarea {
  padding: 1em;
  background: #fff;
}
.pyre_field .awb-counter,
.avada-tax-meta-field .awb-counter {
  position: absolute;
  bottom: 0;
  right: 7px;
  pointer-events: none;
  margin: 0.6em;
  font-size: 0.8em;
}
.ua-firefox .pyre_field .awb-counter,
.ua-firefox .avada-tax-meta-field .awb-counter {
  right: 12px;
}
.fusion-hubspot-consent-option .pyre_desc,
.fusion-hubspot-option .pyre_desc,
.fusion-mailchimp-option .pyre_desc,
.fusion-hubspot-consent-option .pyre_field,
.fusion-hubspot-option .pyre_field,
.fusion-mailchimp-option .pyre_field {
  float: none;
  width: 100%;
}
.fusion-hubspot-consent-option .pyre_desc,
.fusion-hubspot-option .pyre_desc,
.fusion-mailchimp-option .pyre_desc {
  overflow: hidden;
  padding-bottom: 15px;
}
.fusion-hubspot-consent-option .pyre_desc .fusion-add-row,
.fusion-hubspot-option .pyre_desc .fusion-add-row,
.fusion-mailchimp-option .pyre_desc .fusion-add-row {
  float: right;
}
.fusion-hubspot-consent-option .fusion-mapping,
.fusion-hubspot-option .fusion-mapping,
.fusion-mailchimp-option .fusion-mapping {
  padding-top: 10px;
}
.fusion-hubspot-consent-option .fusion-mapping span,
.fusion-hubspot-option .fusion-mapping span,
.fusion-mailchimp-option .fusion-mapping span {
  display: none;
}
.fusion-hubspot-consent-option .fusion-mapping span:first-child:last-child,
.fusion-hubspot-option .fusion-mapping span:first-child:last-child,
.fusion-mailchimp-option .fusion-mapping span:first-child:last-child {
  display: block;
}
.fusion-hubspot-consent-option .fusion-mapping > div,
.fusion-hubspot-option .fusion-mapping > div,
.fusion-mailchimp-option .fusion-mapping > div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 15px;
}
.fusion-hubspot-consent-option .fusion-mapping > div:last-child,
.fusion-hubspot-option .fusion-mapping > div:last-child,
.fusion-mailchimp-option .fusion-mapping > div:last-child {
  border-bottom: none;
}
.fusion-hubspot-consent-option .fusion-mapping div label,
.fusion-hubspot-option .fusion-mapping div label,
.fusion-mailchimp-option .fusion-mapping div label {
  width: 30%;
  padding-right: 15px;
}
.fusion-hubspot-option #refresh-hubspot-map {
  float: right;
}
.fusion-mailchimp-option #refresh-mailchimp-map {
  float: right;
}
.fusion-repeater-wrapper .pyre_desc,
.fusion-repeater-wrapper .pyre_field {
  float: none !important;
  width: 100% !important;
}
.fusion-repeater-wrapper .pyre_desc {
  overflow: hidden;
  padding-bottom: 15px;
}
.fusion-repeater-wrapper .pyre_desc .fusion-add-row {
  float: right;
}
.fusion-repeater-wrapper .fusion-row-title {
  background: #f5f5f5;
  border: 1px solid #e2dddb;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0 15px;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
}
.fusion-repeater-wrapper .fusion-row-title .repeater-row-remove,
.fusion-repeater-wrapper .fusion-row-title .repeater-toggle-icon {
  line-height: 35px;
  color: #939393;
}
.fusion-repeater-wrapper .fusion-row-title .repeater-toggle-icon:hover {
  color: #444;
}
.fusion-repeater-wrapper .fusion-row-title .repeater-row-remove:hover {
  color: #e54c6d;
}
.fusion-repeater-wrapper .fusion-row-title h4 {
  margin: 0;
}
.fusion-repeater-wrapper .fusion-repeater-row + .fusion-repeater-row {
  margin-top: 15px;
}
.fusion-repeater-wrapper .fusion-row-fields {
  border: 1px solid #e2dddb;
  border-top: none;
  padding: 15px;
}
.fusion-repeater-wrapper .fusion-row-fields .pyre_metabox_field {
  border-bottom: none;
}
.fusion-repeater-wrapper .fusion-row-fields .select2-selection--multiple {
  border-radius: 0.35em !important;
  background: #f4f2f2 !important;
  box-shadow: none !important;
  transition: all 200ms ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.05);
  color: #32373c;
  padding-left: 0 !important;
  height: auto !important;
  min-height: 36px;
}
.fusion-repeater-wrapper .fusion-row-fields .select2-selection--multiple .select2-selection__rendered {
  padding-left: 0;
  display: block;
  min-height: 36px;
}
.fusion-repeater-wrapper .fusion-row-fields .select2-selection--multiple .select2-selection__rendered .select2-search {
  margin: 0;
}
.fusion-repeater-wrapper .fusion-row-fields .select2-selection--multiple .select2-selection__choice__remove {
  font-size: 11px !important;
  line-height: 1.75em !important;
  margin-right: 0 !important;
  padding-left: 0;
  padding-top: 1px;
  color: transparent !important;
}
.fusion-repeater-wrapper .fusion-row-fields .select2-selection--multiple .select2-selection__choice__remove:after {
  content: "\f014";
  font-family: icomoon;
  color: #333 !important;
  margin-left: -4px;
}
.fusion-repeater-wrapper .fusion-row-fields .select2-selection--multiple .select2-selection__rendered li.select2-selection__choice {
  background: #fff !important;
  line-height: 1.75em;
  padding: 3px 5px;
  margin: 4px 5px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border: none;
}
.fusion-repeater-wrapper .fusion-row-fields .select2-selection--multiple .select2-search__field {
  width: 100% !important;
  max-width: 100%;
  padding-left: 7px;
  margin-top: 2px;
  margin-bottom: 1px;
  border: none !important;
}
.pyre_field .select2-selection--multiple {
  border-radius: 0 !important;
  background: #f4f2f2 !important;
  box-shadow: none !important;
  transition: all 200ms ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.05);
  color: #32373c;
  padding-left: 0 !important;
  height: auto !important;
  min-height: 36px;
}
.pyre_field .select2-selection--multiple .select2-selection__rendered {
  padding-left: 0;
  display: block;
  min-height: 36px;
}
.pyre_field .select2-selection--multiple .select2-selection__rendered .select2-search {
  margin: 0;
}
.pyre_field .select2-selection--multiple .select2-selection__choice__remove {
  font-size: 11px !important;
  line-height: 1.75em !important;
  margin-right: 0 !important;
  padding-left: 0;
  padding-top: 1px;
  color: transparent !important;
}
.pyre_field .select2-selection--multiple .select2-selection__choice__remove:after {
  content: "\f014";
  font-family: icomoon;
  color: #333 !important;
  margin-left: -4px;
}
.pyre_field .select2-selection--multiple .select2-selection__rendered li.select2-selection__choice {
  background: #fff !important;
  line-height: 1.75em;
  padding: 3px 5px;
  margin: 4px 5px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border: none;
}
.pyre_field .select2-selection--multiple .select2-search__field {
  width: 100% !important;
  max-width: 100%;
  padding-left: 7px;
  margin-top: 2px;
  margin-bottom: 1px;
  border: none !important;
}
.pyre_metabox_field {
  width: 100%;
  display: block;
  float: left;
}
.pyre_metabox_field .avada-dependency {
  position: absolute;
}
.pyre_field.avada-buttonset [data-direction="row"] a.buttonset-item > span {
  transform: rotate(-90deg);
  display: block;
}
.pyre_field {
  position: relative;
}
.pyre_field {
  position: relative;
}
/* Select Field Styling */
.fusion-options-holder .select2-container .select2-selection,
.pyre_field .select2-container .select2-choice,
.pyre_field .select2-container .select2-selection {
  padding-left: 0.75em;
  line-height: 32px;
  box-sizing: border-box !important;
  background-image: none !important;
  height: 34px;
  border-radius: 0.35em !important;
  background-color: #fff;
  border-color: #dfdfdf !important;
  box-shadow: none !important;
  transition: border-color 0.2s cubic-bezier(0.21, 0.6, 0.35, 1);
}
.fusion-options-holder .select2-container .select2-selection:hover,
.fusion-options-holder .select2-container .select2-selection:focus,
.fusion-options-holder .select2-container .select2-selection:active,
.fusion-options-holder .select2-container--open .select2-selection,
.pyre_field .select2-container .select2-selection:hover .pyre_field .select2-container .select2-selection:focus .pyre_field .select2-container .select2-selection:active,
.pyre_field .select2-container--open .select2-selection {
  outline: none;
  border-color: #198fd9 !important;
}
.fusion-options-holder .select2-container .select2-selection > .select2-selection__rendered,
.pyre_field .select2-container .select2-selection > .select2-selection__rendered {
  min-height: 32px;
  line-height: 32px;
  margin-right: 35px;
  background-color: transparent !important;
}
.fusion-options-holder .select2-container .select2-selection .select2-selection__arrow,
.pyre_field .select2-container .select2-choice .select2-arrow,
.pyre_field .select2-container .select2-selection .select2-selection__arrow {
  width: 31px !important;
  height: 32px !important;
  background-image: none !important;
  background: #fff !important;
  box-shadow: none !important;
  transition: all 0.2s cubic-bezier(0.21, 0.6, 0.35, 1);
  border-radius: 0.35em;
}
.fusion-options-holder .select2-container .select2-selection span,
.pyre_field .select2-container .select2-selection span {
  margin-right: 0 !important;
}
.fusion-options-holder .select2-container .select2-selection .select2-selection__arrow b,
.pyre_field .select2-container .select2-choice .select2-arrow b,
.pyre_field .select2-container .select2-selection .select2-selection__arrow b {
  border: none;
  position: relative;
  margin: 0;
  top: auto;
  left: auto;
  display: block;
  width: 100%;
  text-align: center;
  background: none !important;
}
.fusion-options-holder .select2-container .select2-selection .select2-selection__arrow b:after,
.pyre_field .select2-container .select2-choice .select2-arrow b:after,
.pyre_field .select2-container .select2-selection .select2-selection__arrow b:after {
  content: "\f347" !important;
  font-family: dashicons !important;
  font-size: 12px !important;
  color: #777 !important;
  border: none !important;
  margin: 0 !important;
}
.select2-drop.avada-select2 {
  background: #fff !important;
  margin-top: 4px;
  border: 1px solid #dfdfdf !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.select2-drop.avada-select2 .select2-results {
  padding: 0;
  margin: 0;
}
.select2-dropdown.avada-select2 {
  background: #fff !important;
}
.select2-container--open .select2-dropdown.avada-select2 {
  margin-top: 4px;
  border: 1px solid #dfdfdf !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.select2-container--open .select2-dropdown.avada-select2:after {
  display: none;
}
.avada-range input[type="text"],
.select2-drop.avada-select2 .select2-result,
.select2-dropdown.avada-select2 .select2-results .select2-results__option {
  padding: 0 0.75em !important;
  height: 32px !important;
  line-height: 29px !important;
  overflow: hidden !important;
  outline: 0;
}
.select2-dropdown.avada-select2 .select2-results .select2-results__option {
  color: #222 !important;
}
.select2-dropdown.avada-select2 .select2-results .select2-results__option[data-selected="true"] {
  color: #ccc;
  cursor: default;
  background-color: transparent;
}
.select2-container .avada-select2 .select2-results .select2-results__option--highlighted,
.select2-dropdown.avada-select2 .select2-results .select2-results__option[aria-selected="true"],
.select2-drop.avada-select2 .select2-result.select2-highlighted {
  background: #198fd9 !important;
  color: #fff !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.avada-select2 .select2-results__option[aria-selected="true"] {
  background-color: transparent;
}
.select2-dropdown.avada-select2 .select2-results {
  margin: 0 !important;
  padding: 0 !important;
  max-height: 300px !important;
  background: #fff !important;
}
.avada-select2 .select2-search--dropdown .select2-search__field {
  border: 1px solid #dfdfdf;
}
.avada-select2 .select2-search--dropdown .select2-search__field:hover,
.avada-select2 .select2-search--dropdown .select2-search__field:focus,
.avada-select2 .select2-search--dropdown .select2-search__field:active {
  border-color: #198fd9 !important;
}
.avada-select2 .select2-results li:last-child {
  margin-bottom: 0;
}
.avada-select2 .select2-search {
  background: #fff !important;
}
/* Button set styling */
.avada-buttonset {
  float: none;
  width: 100%;
}
.avada-buttonset.pyre_field {
  width: 51.8%;
  float: right;
}
.avada-buttonset .ui-buttonset {
  display: flex;
  flex-wrap: wrap;
}
.avada-buttonset .ui-buttonset .ui-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0.6em 0.8em;
  height: auto;
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: #f2f3f5;
  border-radius: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  min-width: 60px;
  color: #93999f;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.21, 0.6, 0.35, 1);
}
.ltr .avada-buttonset .ui-buttonset .ui-button:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.ltr .avada-buttonset .ui-buttonset .ui-button:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: none;
}
.rtl .avada-buttonset .ui-buttonset .ui-button:first-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: none;
}
.rtl .avada-buttonset .ui-buttonset .ui-button:last-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.avada-buttonset .ui-buttonset .ui-button.ui-state-active {
  background-color: #198fd9;
  color: #fff;
}
.avada-buttonset .ui-buttonset .ui-button.ui-state-active[data-value="0"],
.avada-buttonset .ui-buttonset .ui-button.ui-state-active[data-value="no"],
.avada-buttonset .ui-buttonset .ui-button.ui-state-active[data-value="disabled"],
.avada-buttonset .ui-buttonset .ui-button.ui-state-active[data-value="false"],
.avada-buttonset .ui-buttonset .ui-button.ui-state-active[data-value="off"] {
  background-color: #2a3035;
  color: #fff;
}
.avada-buttonset .ui-buttonset .ui-button.has-tooltip {
  position: relative;
}
.avada-buttonset .ui-buttonset .ui-button.has-tooltip:after,
.avada-buttonset .ui-buttonset .ui-button.has-tooltip:before {
  transition: all 0.2s cubic-bezier(0.21, 0.6, 0.35, 1) 0.2s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  line-height: normal;
  z-index: 999999;
}
.avada-buttonset .ui-buttonset .ui-button.has-tooltip.fusion-builder-support:after,
.avada-buttonset .ui-buttonset .ui-button.has-tooltip.fusion-builder-support:before {
  left: 10%;
}
.avada-buttonset .ui-buttonset .ui-button.has-tooltip.fusion-builder-support:before {
  left: 52% !important;
}
.avada-buttonset .ui-buttonset .ui-button.has-tooltip:after {
  content: attr(aria-label);
  top: 42px;
  color: #fff;
  white-space: nowrap;
  background: #2a3035;
  border: 1px solid #2a3035;
  padding: 0.8em;
  font-size: 0.65em;
  text-transform: uppercase;
  border-radius: 0.35em;
  font-family: "Noto Sans", Roboto, "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-weight: 600;
  margin: 0;
  z-index: 999999;
  pointer-events: none;
}
.avada-buttonset .ui-buttonset .ui-button.has-tooltip:before {
  content: "";
  border: 5px solid transparent;
  border-bottom-color: #2a3035;
  top: 38px;
  z-index: 2;
  pointer-events: none;
}
.avada-buttonset .ui-buttonset .ui-button.has-tooltip:hover {
  overflow: visible;
}
.avada-buttonset .ui-buttonset .ui-button.has-tooltip:hover:not(.active):after,
.avada-buttonset .ui-buttonset .ui-button.has-tooltip:hover:not(.active):before {
  opacity: 1;
}
.avada-buttonset .ui-buttonset .ui-button.has-tooltip:hover:after {
  top: 50px;
}
.avada-buttonset .ui-buttonset .ui-button.has-tooltip:hover:before {
  top: 40px;
}
.avada-buttonset .ui-buttonset .ui-button.has-tooltip.awb-tooltip-top:before {
  top: 0;
  border-bottom-color: transparent;
  border-top-color: #2a3035;
}
.avada-buttonset .ui-buttonset .ui-button.has-tooltip.awb-tooltip-top:after {
  top: -33px;
}
.avada-buttonset .ui-buttonset .ui-button.has-tooltip.awb-tooltip-top:hover:before {
  top: -8px;
}
.avada-buttonset .ui-buttonset .ui-button.has-tooltip.awb-tooltip-top:hover:after {
  top: -41px;
}
/* Dimension Field Styling */
.pyre_field.avada-dimension .fusion-builder-dimension {
  margin-right: 10px;
  white-space: nowrap;
  display: inline-flex;
  margin-bottom: 6px;
  overflow: hidden;
}
.pyre_field.avada-dimension .fusion-builder-dimension:hover .add-on,
.pyre_field.avada-dimension .fusion-builder-dimension:hover input {
  border-color: #198fd9 !important;
}
.pyre_field.avada-dimension .fusion-builder-dimension .add-on {
  border: 1px solid #dfdfdf !important;
  border-right: none !important;
  height: 34px;
  width: 34px;
  font-size: 12px;
  background-color: #fff;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.5);
  padding: 0;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  display: block;
  min-width: 16px;
  border-top-left-radius: 0.35em;
  border-bottom-left-radius: 0.35em;
}
.pyre_field.avada-dimension .fusion-builder-dimension .add-on i {
  font-size: 13px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  height: 32px;
  line-height: 32px;
}
.pyre_field.avada-dimension .fusion-builder-dimension .add-on i.fusiona-expand.width:before {
  display: block;
  transform: rotate(45deg);
}
.pyre_field.avada-dimension .fusion-builder-dimension .add-on i.fusiona-expand.height:before {
  display: block;
  transform: rotate(-45deg);
}
.pyre_field.avada-dimension .fusion-builder-dimension .add-on i.is-top-left:before,
.pyre_field.avada-dimension .fusion-builder-dimension .add-on i.is-top-right:before {
  display: block;
  transform: rotate(-45deg);
}
.pyre_field.avada-dimension .fusion-builder-dimension .add-on i.is-bottom-right:before {
  display: block;
  transform: rotate(-135deg);
}
.pyre_field.avada-dimension .fusion-builder-dimension .add-on i.is-bottom-left:before {
  display: block;
  transform: rotate(45deg);
}
.pyre_field.avada-dimension .fusion-builder-dimension input[type="text"] {
  width: 68px;
  padding: 0 0.75em;
  margin: 0;
  text-align: center;
  border-radius: 0;
  border-top-right-radius: 0.35em;
  border-bottom-right-radius: 0.35em;
}
/* Range Slider */
.avada-range .noUi-handle:after,
.avada-range .noUi-handle:before {
  display: none;
}
.avada-range input[type="text"].fusion-slider-input {
  margin-right: 25px;
  transition: all 200ms ease-in-out;
  width: 100px;
  text-align: center;
  display: block;
  float: left;
  line-height: 1.4;
}
.avada-range .fusion-slider-container {
  margin: 10px 0;
  width: calc(100% - 130px);
  display: block;
  float: left;
}
.avada-range .fusion-slider-container.fusion-with-default {
  width: calc(100% - 295px);
}
.avada-range label {
  float: right;
  width: 140px;
  margin-top: 6px;
  margin-left: 25px;
  font-style: italic;
  color: #999;
  font-size: 14px;
}
@media (max-width: 1000px) {
  .avada-range label {
    float: none;
    clear: both;
    margin-left: 0;
    padding-top: 10px;
  }
  .avada-range .fusion-slider-container.fusion-with-default {
    width: calc(100% - 130px);
  }
}
.avada-range .fusion-slider-container.noUi-target {
  background-color: transparent !important;
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: none !important;
  box-shadow: none;
  border: none;
  border-top: 2px solid #198fd9;
  border-radius: 0 !important;
  position: relative;
  top: 5px;
}
.avada-range .fusion-slider-container .noUi-origin {
  border-top: 2px solid #dfdfdf;
  top: -2px;
}
.avada-range .fusion-slider-container .noUi-handle:before,
.range .fusion-slider-container .noUi-handle:after {
  display: none !important;
}
.avada-range .fusion-slider-container .noUi-handle {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  left: -10px;
  top: -7px;
  cursor: ew-resize;
  border-radius: 100%;
  transition: all 0.2s ease-out;
  border: none !important;
  background-color: #198fd9 !important;
  background-image: none !important;
  box-shadow: none !important;
}
.avada-range .fusion-slider-container .noUi-handle.noUi-active {
  transform: scale3d(2.5, 2.5, 1);
}
.pyre_metabox_field .avada-range .fusion-slider-container .noUi-handle.noUi-active {
  transform: scale3d(1.5, 1.5, 1);
}
.pyre_field textarea {
  margin: 0;
}
#pyre_tab_pagetitlebar #pyre_page_title_custom_subheader,
#pyre_tab_pagetitlebar #pyre_page_title_custom_text {
  padding: 7px 15px;
  resize: none;
}
.pyre_metabox_tabs a:after,
.pyre_metabox_tabs a:before {
  font-family: "icomoon";
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 8px;
}
.pyre_metabox_tabs a[href^="sliders"]:before {
  content: "\e902";
}
.pyre_metabox_tabs a[href^="content"]:before {
  content: "\e921";
}
.pyre_metabox_tabs a[href^="fusion_template"]:before {
  content: "\e988";
}
.pyre_metabox_tabs a[href^="template"]:before,
.pyre_metabox_tabs a[href^="page"]:before {
  content: "\e633";
}
.pyre_metabox_tabs a[href^="header"]:before {
  content: "\e635";
}
.pyre_metabox_tabs a[href^="footer"]:before {
  content: "\e637";
}
.pyre_metabox_tabs a[href^="studio"]:before {
  content: "\e936";
}
.pyre_metabox_tabs a[href^="sidebar"]:before {
  content: "\e634";
}
.pyre_metabox_tabs a[href^="background"]:before {
  content: "\e620";
}
.pyre_metabox_tabs a[href^="portfolio"]:before {
  content: "\e625";
}
.pyre_metabox_tabs a[href^="pagetitlebar"]:before {
  content: "\e636";
}
.pyre_metabox_tabs a[href^="faq_page"]:before,
.pyre_metabox_tabs a[href^="post"]:before {
  content: "\e619";
}
.pyre_metabox_tabs a[href^="avada_page_options"]:before {
  content: "\e63c";
}
.pyre_metabox_tabs a[href^="form_general"]:before {
  content: "\e633";
}
.pyre_metabox_tabs a[href^="form_submission"]:before {
  content: "\e939";
}
.pyre_metabox_tabs a[href^="form_notifications"]:before {
  content: "\f003";
}
.pyre_metabox_tabs a[href^="form_confirmation"]:before {
  content: "\e93a";
}
.pyre_metabox_tabs a[href^="form_steps"]:before {
  content: "\e9c7";
}
.pyre_metabox_tabs a[href^="form_appearance"]:before {
  content: "\e903";
}
.pyre_metabox_tabs a[href^="form_privacy"]:before {
  content: "\e927";
}
.pyre_metabox_tabs a[href^="off_canvas_general"]:before {
  content: "\e999";
}
.pyre_metabox_tabs a[href^="off_canvas_design"]:before {
  content: "\e903";
}
.pyre_metabox_tabs a[href^="off_canvas_overlay"]:before {
  content: "\e996";
}
.pyre_metabox_tabs a[href^="off_canvas_close"]:before {
  content: "\e92f";
}
.pyre_metabox_tabs a[href^="off_canvas_animation"]:before {
  content: "\e998";
}
.pyre_metabox_tabs a[href^="off_canvas_conditions"]:before {
  content: "\e997";
}
.pyre_metabox_tabs a[href^="off_canvas_triggers"]:before {
  content: "\e945";
}
.pyre_metabox_tabs a[href^="off_canvas_rules"]:before {
  content: "\e995";
}
.pyre_metabox_tabs a[href^="seo"]:before {
  content: "\e610";
}
.pyre_metabox_tabs a:after {
  display: none;
}
.pyre_upload {
  display: flex;
  overflow: hidden;
  padding-bottom: 5px;
}
.pyre_upload .upload-plus-style {
  width: 100%;
}
.pyre_upload .upload-plus-style .upload-plus-style-placeholder {
  border: 2px dashed rgba(223, 223, 223, 0.5);
  box-sizing: border-box;
  border-radius: 12px;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pyre_upload .upload-plus-style .upload-plus-style-placeholder .button-icon {
  background-color: #198fd9;
  color: #fff;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(25, 143, 217, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s cubic-bezier(0.21, 0.6, 0.35, 1);
}
.pyre_upload .upload-plus-style .upload-plus-style-placeholder:hover .button-icon {
  background-color: #0e7abd;
}
.pyre_upload .upload_field {
  flex: 2;
  margin: 0 0.25em !important;
}
#pyre_page_options .fusion_upload_button,
#pyre_portfolio_options .fusion_upload_button,
#pyre_post_options .fusion_upload_button,
#pyre_slide_options .fusion_upload_button,
#pyre_woocommerce_options .fusion_upload_button,
#pyre_fusion_tb_section .fusion_upload_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.25em;
  padding: 0.6em 0.8em;
  height: auto;
  width: auto;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  font-size: inherit;
  font-weight: 600;
  line-height: normal;
  color: #2a3035;
  outline: none;
  text-decoration: none;
  box-shadow: none;
  transition: color 0.2s cubic-bezier(0.21, 0.6, 0.35, 1);
}
#pyre_page_options .fusion_upload_button:hover,
#pyre_portfolio_options .fusion_upload_button:hover,
#pyre_post_options .fusion_upload_button:hover,
#pyre_slide_options .fusion_upload_button:hover,
#pyre_woocommerce_options .fusion_upload_button:hover,
#pyre_fusion_tb_section .fusion_upload_button:hover,
#pyre_page_options .fusion_upload_button:focus,
#pyre_portfolio_options .fusion_upload_button:focus,
#pyre_post_options .fusion_upload_button:focus,
#pyre_slide_options .fusion_upload_button:focus,
#pyre_woocommerce_options .fusion_upload_button:focus,
#pyre_fusion_tb_section .fusion_upload_button:focus,
#pyre_page_options .fusion_upload_button:active,
#pyre_portfolio_options .fusion_upload_button:active,
#pyre_post_options .fusion_upload_button:active,
#pyre_slide_options .fusion_upload_button:active,
#pyre_woocommerce_options .fusion_upload_button:active,
#pyre_fusion_tb_section .fusion_upload_button:active {
  background-color: #fff;
  border-color: #dfdfdf;
  color: #198fd9;
}
.pyre_metabox_field .fusion-colors-important-notice,
.pyre_metabox_field .fusion-redux-important-notice {
  position: relative;
  padding: 2em;
  font-style: italic;
  font-size: 1.1em;
  line-height: 1.5;
}
.pyre_metabox_field .fusion-colors-important-notice:before,
.pyre_metabox_field .fusion-redux-important-notice:before {
  content: "";
  background: #198fd9;
  opacity: 0.1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.35em;
}
.pyre_metabox_field .fusion-colors-important-notice strong,
.pyre_metabox_field .fusion-redux-important-notice strong {
  color: #198fd9;
}
.pyre_metabox_field .fusion-colors-important-notice a,
.pyre_metabox_field .fusion-redux-important-notice a {
  position: relative;
}
.pyre_metabox_field a {
  color: #198fd9;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  transition: color 0.2s cubic-bezier(0.21, 0.6, 0.35, 1);
  cursor: pointer;
}
.pyre_metabox_field a:hover,
.pyre_metabox_field a:focus,
.pyre_metabox_field a:active {
  color: #0e7abd;
}
/* Dashboard general notices outside of .avada-dashboard */
.wrap:not(.avada-dashboard) .avada-db-notice {
  padding: 1.4em;
}
.wrap:not(.avada-dashboard) .avada-db-notice > p {
  margin: 0;
  padding: 0;
}
.wrap:not(.avada-dashboard) .avada-db-notice .avada-db-settings-error-heading {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.4em;
  color: #dc3232;
}
.wrap:not(.avada-dashboard) .avada-db-notice .avada-db-settings-error-p {
  display: block;
  margin: 0 0 1em 0;
  padding: 0;
  line-height: 1.7em;
  font-weight: 400;
}
.wrap:not(.avada-dashboard) .avada-db-notice .avada-db-settings-error-p:last-of-type {
  margin-bottom: 0;
}
/* Dashboard Widget */
#themefusion-news .inside {
  margin-top: 0;
  padding: 0 15px 15px 15px;
}
#themefusion-news .fusion-dbw-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px 15px -15px;
  padding: 15px;
  border-bottom: 1px solid #eee;
}
#themefusion-news .fusion-dbw-logo {
  display: flex;
  align-items: center;
  margin: 0 -0.25em;
}
#themefusion-news .fusion-dbw-logo .fusion-dbw-image-wrapper {
  margin: 0 0.25em;
  line-height: 1;
}
#themefusion-news .fusion-dbw-logo .fusion-dbw-version {
  margin: 0 0.25em;
}
#themefusion-news .fusiona-avada-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  background-color: #65bc7b;
  width: 36px;
  height: 36px;
  border-radius: 0.35em;
  color: #fff;
}
#themefusion-news .fusion-dbw-version {
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding: 0.35em 0.5em;
  font-size: 1em;
  background-color: #f8f8f8;
  color: #32373c;
  border-radius: 0.35em;
  line-height: 1;
}
#themefusion-news .rss-widget ul > li {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
#themefusion-news .rss-widget ul > li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
#themefusion-news .rss-widget ul > li > a {
  font-size: 1.1em;
  transition: color 0.2s;
}
#themefusion-news .fusion-dbw-footer {
  margin: 15px -15px 0 -15px;
  padding: 15px 15px 0 15px;
  border-top: 1px solid #eee;
}
#themefusion-news .fusion-dbw-footer > ul {
  display: flex;
  margin: 0;
}
#themefusion-news .fusion-dbw-footer > ul > li {
  margin: 0;
  padding: 0 15px;
  border-left: 1px solid #eee;
}
#themefusion-news .fusion-dbw-footer > ul > li:first-child {
  padding-left: 0;
  border-left: none;
}
#themefusion-news .fusion-dbw-footer > ul > li > a {
  transition: color 0.2s;
}
/* TGMPA Install/Update Page */
.wrap.tgmpa .subsubsub {
  display: none;
}
/* RTL */
.rtl.nav-menus-php .option-details,
.rtl.widgets-php .option-details,
.rtl.nav-menus-php .option-field,
.rtl.widgets-php .option-field {
  float: right;
}
.rtl.nav-menus-php .option-field,
.rtl.widgets-php .option-field {
  margin-right: 10%;
  margin-left: 0;
}
.rtl .pyre_metabox_tabs a:before {
  display: inline-block;
  margin-left: 8px;
  margin-right: 0;
}
.rtl .pyre_desc {
  float: right;
}
.rtl .pyre_field {
  float: left;
}
.rtl .pyre_field .select2-arrow {
  border-left: none;
  border-right: 1px solid rgba(0, 0, 0, 0.05) !important;
}
.rtl .pyre_field.avada-color .wp-color-result {
  float: right;
  width: auto;
}
.rtl .pyre_field.avada-color button.wp-color-result-text {
  border-radius: 0;
}
.rtl .pyre_field.avada-color .wp-picker-container.wp-picker-active .wp-picker-input-wrap input[type="text"] {
  margin-right: 0;
  margin-left: 5px;
}
.rtl .pyre_field.avada-color .wp-picker-container.wp-picker-active .iris-palette-container {
  right: 10px;
  left: auto;
}
.rtl .pyre_field.avada-color .wp-picker-container.wp-picker-active .iris-picker .iris-picker-inner .iris-slider {
  margin-right: 15px !important;
  margin-left: 0 !important;
}
.rtl .pyre_field.avada-color .wp-picker-input-wrap {
  float: left;
}
.rtl .avada-range input.fusion-slider-input[type="text"] {
  float: right;
  margin-left: 25px;
  margin-right: 0;
}
.rtl .avada-range .fusion-slider-container {
  float: right;
}
.rtl .avada-range label {
  float: right;
  margin-left: 0;
  margin-right: 25px;
}
.pyre-default-reset {
  position: relative;
  overflow: hidden;
}
.pyre-default-reset a,
.pyre-default-reset.checked span {
  position: relative;
  opacity: 1;
  transition: all 200ms ease-in-out;
  bottom: 0;
  box-shadow: none !important;
}
.pyre-default-reset span,
.pyre-default-reset.checked a {
  position: absolute;
  opacity: 0;
  bottom: -10px;
  transition: none;
}
.nav-menus-php .option-field.fusion-iconpicker {
  position: relative;
  background: #f2f3f5;
  padding: 9px 9px 0 9px !important;
  border-radius: 4px;
  border: 1px solid #e0e3e7;
  overflow: hidden;
  box-sizing: border-box;
}
.nav-menus-php .option-field.fusion-iconpicker input.fusion-icon-search {
  background: #fff !important;
  border: 1px solid #e0e3e7;
  border-radius: 4px;
  padding: 7px 7px 7px 30px !important;
  margin-left: 0;
  margin-right: 0;
  height: 35px;
  width: calc(100% - 42px);
  padding-left: 45px;
}
.nav-menus-php .option-field.fusion-iconpicker .add-custom-icons {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #198fd9;
  border-radius: 3px;
}
.nav-menus-php .option-field.fusion-iconpicker .add-custom-icons a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-menus-php .option-field.fusion-iconpicker .icon_select_container {
  height: 263px;
  overflow: auto;
  border: none;
  overflow-x: hidden;
  box-sizing: border-box;
  margin-left: -9px;
  width: calc(100% + 18px);
  background: #fff;
  padding: 6px;
}
.nav-menus-php .option-field.fusion-iconpicker .icon_select_container .fusion-icon-set {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(32px, 32px));
}
.nav-menus-php .option-field.fusion-iconpicker .icon_select_container .fusion-icon-set.no-search-results {
  grid-template-columns: repeat(auto-fit, minmax(32px, 1fr));
}
.nav-menus-php .option-field.fusion-iconpicker .icon_select_container .fusion-icon-set:first-child {
  display: grid;
}
.nav-menus-php .option-field.fusion-iconpicker .icon_select_container .fusion-icon-set .icon_preview {
  border: none;
  width: 100%;
  height: 45px;
  font-size: 17px;
  justify-content: center;
  align-items: center;
  color: #4a5259;
}
.nav-menus-php .option-field.fusion-iconpicker .icon_select_container .fusion-icon-set .icon_preview:hover,
.nav-menus-php .option-field.fusion-iconpicker .icon_select_container .fusion-icon-set .icon_preview.selected-element,
.nav-menus-php .option-field.fusion-iconpicker .icon_select_container .fusion-icon-set .icon_preview.selected-element:hover {
  background: #fff;
  color: #198fd9;
}
.nav-menus-php .option-field.fusion-iconpicker .icon_select_container .fusion-icon-set .no-search-results-notice {
  display: none;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.nav-menus-php .option-field.fusion-iconpicker .icon_select_container .fusion-icon-set.no-search-results .no-search-results-notice {
  display: flex;
}
.nav-menus-php .option-field.fusion-iconpicker .fusion-iconselect-wrapper .fusion-icon-picker-nav-wrapper {
  padding-left: 18px;
  padding-right: 18px;
  position: relative;
}
.nav-menus-php .option-field.fusion-iconpicker .fusion-iconselect-wrapper .fusion-icon-picker-nav-wrapper .fusion-icon-picker-nav-left,
.nav-menus-php .option-field.fusion-iconpicker .fusion-iconselect-wrapper .fusion-icon-picker-nav-wrapper .fusion-icon-picker-nav-right {
  display: block;
  height: 40px;
  width: 18px;
  line-height: 40px;
  color: #93999f;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
}
.nav-menus-php .option-field.fusion-iconpicker .fusion-iconselect-wrapper .fusion-icon-picker-nav-wrapper .fusion-icon-picker-nav-left:after,
.nav-menus-php .option-field.fusion-iconpicker .fusion-iconselect-wrapper .fusion-icon-picker-nav-wrapper .fusion-icon-picker-nav-right:after {
  content: "";
  display: block;
  position: absolute;
  left: 15px;
  top: 2px;
  width: 20px;
  height: 36px;
  background: linear-gradient(to right, #f2f3f5 0, transparent 100%);
}
.nav-menus-php .option-field.fusion-iconpicker .fusion-iconselect-wrapper .fusion-icon-picker-nav-wrapper .fusion-icon-picker-nav-right:after {
  right: 15px;
  left: auto;
  background: linear-gradient(to right, transparent 0, #f2f3f5 100%);
}
.nav-menus-php .option-field.fusion-iconpicker .fusion-iconselect-wrapper .fusion-icon-picker-nav-wrapper .fusion-icon-picker-nav-right {
  left: auto;
  right: 0;
}
.nav-menus-php .option-field.fusion-iconpicker .fusion-icon-picker-nav {
  max-width: 339px;
  height: 40px;
  text-transform: none;
  font-weight: 700;
  border: none !important;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}
.nav-menus-php .option-field.fusion-iconpicker .fusion-icon-picker-nav a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 7px;
  color: #93999f;
}
.nav-menus-php .option-field.fusion-iconpicker .fusion-icon-picker-nav a.fusion-icon-picker-nav-active {
  text-decoration: none;
  color: #198fd9;
}
.nav-menus-php .option-field.fusion-iconpicker .fusion-icon-picker-nav a:focus {
  outline: none;
  box-shadow: none;
}
.nav-menus-php .option-field.fusion-iconpicker .input-icon {
  position: absolute;
  left: 18px;
  top: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  color: #63686e;
}
.nav-menus-php .option-field.fusion-iconpicker .icon_preview {
  position: relative;
  font-size: 14px;
  line-height: 32px;
  width: 32px;
  color: #4a5259;
  background: #fff;
  display: flex;
  text-align: center;
  float: left;
  border: 1px solid #e1e1e1;
  margin-left: -1px;
  margin-top: -1px;
  transition: all 0.1s ease-out;
  cursor: pointer;
}
.nav-menus-php .option-field.fusion-iconpicker .icon_preview:hover {
  color: #198fd9;
  z-index: 3;
  transform: scale(1.3);
}
/* Avada Menu Options */
.fusion-active.menu-item-settings {
  z-index: 9999 !important;
}
.nav-menus-php .select2-container,
.widgets-php .select2-container {
  z-index: 99999 !important;
}
.nav-menus-php .fusion-builder-modal-settings-container,
.widgets-php .fusion-builder-modal-settings-container {
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  position: fixed;
  top: 5%;
  left: 0;
  right: 0;
  bottom: 5%;
  width: 85%;
  max-width: 1250px;
  margin: auto;
  background: #fff;
  overflow: auto;
  padding: 1em;
  box-sizing: border-box;
  z-index: 99999;
}
.nav-menus-php .fusion-builder-main-settings-full,
.widgets-php .fusion-builder-main-settings-full {
  margin-top: 5.4em;
}
.nav-menus-php .fusion-builder-modal-top-container,
.widgets-php .fusion-builder-modal-top-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
}
.nav-menus-php .fusion-builder-modal-top-container .fusion-builder-modal-close,
.widgets-php .fusion-builder-modal-top-container .fusion-builder-modal-close {
  height: 69px;
  width: 69px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border-left: 1px solid #ddd;
  text-align: center;
}
.widgets-php .fusion-builder-modal-top-container .fusion-builder-modal-close {
  height: 96.9px;
  width: 96.9px;
}
.nav-menus-php .fusion-builder-modal-top-container .fusion-builder-modal-close.fusiona-plus2:before,
.widgets-php .fusion-builder-modal-top-container .fusion-builder-modal-close.fusiona-plus2:before {
  font-size: 2em;
  margin-top: 22px;
  display: block;
  transform: rotate(45deg);
}
.widgets-php .fusion-builder-modal-top-container .fusion-builder-modal-close.fusiona-plus2:before {
  margin-top: 33px;
  font-size: 3em;
}
.nav-menus-php .fusion-builder-modal-top-container .fusion-builder-modal-close:hover,
.widgets-php .fusion-builder-modal-top-container .fusion-builder-modal-close:hover {
  background: #f6f6f6;
}
.nav-menus-php .fusion-builder-modal-top-container h2,
.widgets-php .fusion-builder-modal-top-container h2 {
  padding: 1.1em 2.5%;
  border-bottom: 1px solid #ddd !important;
  margin: 0;
  font-size: 23px;
  background: #fff;
  line-height: inherit;
  text-align: left;
  font-weight: 600;
}
.widgets-php .fusion-builder-modal-top-container h2 {
  padding: 0.9em 2.5%;
}
.widgets-php .fusion-builder-modal-top-container .fusion-modal-description {
  margin-top: 10px;
  color: #999;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
}
.nav-menus-php .fusion-builder-modal-bottom-container,
.widgets-php .fusion-builder-modal-bottom-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 1em;
  background: #fff;
  z-index: 9999;
  box-sizing: border-box;
  text-align: right;
}
.nav-menus-php .fusion-builder-modal-bottom-container .fusion-builder-modal-close,
.nav-menus-php .fusion-builder-modal-bottom-container .fusion-builder-modal-save,
.widgets-php .fusion-builder-modal-bottom-container .fusion-builder-modal-close,
.widgets-php .fusion-builder-modal-bottom-container .fusion-builder-modal-save {
  background: #198fd9;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 28px;
  height: auto;
  display: inline-block;
  text-decoration: none;
  box-shadow: none;
  border-radius: 0.35em;
}
.nav-menus-php .fusion-builder-modal-bottom-container .fusion-builder-modal-close:hover,
.nav-menus-php .fusion-builder-modal-bottom-container .fusion-builder-modal-save:hover,
.widgets-php .fusion-builder-modal-bottom-container .fusion-builder-modal-close:hover,
.widgets-php .fusion-builder-modal-bottom-container .fusion-builder-modal-save:hover {
  background: #2a3035;
  color: #fff;
}
.nav-menus-php .fusion-builder-main-settings,
.widgets-php .fusion-builder-main-settings {
  overflow: auto;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 2em;
  box-sizing: border-box;
  padding: 1.5em 0 0;
  background-color: #fff;
  margin-top: 5.2em;
  margin-bottom: 3.3em;
}
.widgets-php .fusion-builder-main-settings {
  margin-top: 5.7em;
}
.nav-menus-php.fusion_builder_no_scroll,
.widgets-php.fusion_builder_no_scroll {
  overflow: hidden;
}
.nav-menus-php .fusion_builder_modal_inner_row_overlay,
.nav-menus-php .fusion_builder_modal_overlay,
.widgets-php .fusion_builder_modal_inner_row_overlay,
.widgets-php .fusion_builder_modal_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
}
.nav-menus-php .fusion-builder-module-settings,
.widgets-php .fusion-builder-module-settings {
  margin: 0;
  float: left;
  width: 100%;
  background: #fff;
}
.nav-menus-php .fusion-builder-module-settings > li:last-child,
.widgets-php .fusion-builder-module-settings > li:last-child {
  border-bottom: none;
}
.nav-menus-php .fusion-builder-module-settings .fusion-builder-option,
.nav-menus-php .fusion-builder-module-settings li,
.widgets-php .fusion-builder-module-settings li {
  border-bottom: 1px solid #ddd;
  float: left;
  width: 95%;
  padding: 2em 2.5%;
  margin: 0;
}
.nav-menus-php .option-details,
.widgets-php .option-details {
  width: 40%;
  float: left;
  display: inline-block;
}
.nav-menus-php .option-details h3,
.widgets-php .option-details h3 {
  margin-bottom: 0.3em;
}
.widgets-php .option-details p {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.nav-menus-php .option-details .description,
.widgets-php .option-details .description {
  color: #999;
  margin-bottom: 1em;
  font-size: 14px;
}
.nav-menus-php .option-field,
.widgets-php .option-field {
  width: 50%;
  float: left;
  display: inline-block;
  padding: 1.1em 0 0;
  margin-left: 10%;
}
.nav-menus-php .nav-menus-php .option-field select,
.widgets-php .option-field select {
  width: auto !important;
  appearance: none;
}
.nav-menus-php .fusion-icon-search,
.widgets-php .fusion-icon-search {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}
.nav-menus-php .option-field input[type="text"],
.nav-menus-php .option-field textarea:not(.wp-editor-area),
.nav-menus-php .option-field textarea:not(.wp-editor-area),
.widgets-php .option-field input[type="text"] {
  width: 100%;
  line-height: 1.75em !important;
  padding-left: 0.75em !important;
  padding-right: 0.75em !important;
  box-shadow: none;
  min-height: 34px !important;
  border-color: #dfdfdf;
  transition: border-color 0.2s cubic-bezier(0.21, 0.6, 0.35, 1);
}
.nav-menus-php .option-field input[type="text"]:hover,
.nav-menus-php .option-field textarea:not(.wp-editor-area):hover,
.nav-menus-php .option-field textarea:not(.wp-editor-area):hover,
.widgets-php .option-field input[type="text"]:hover,
.nav-menus-php .option-field input[type="text"]:focus,
.nav-menus-php .option-field textarea:not(.wp-editor-area):focus,
.nav-menus-php .option-field textarea:not(.wp-editor-area):focus,
.widgets-php .option-field input[type="text"]:focus,
.nav-menus-php .option-field input[type="text"]:active,
.nav-menus-php .option-field textarea:not(.wp-editor-area):active,
.nav-menus-php .option-field textarea:not(.wp-editor-area):active,
.widgets-php .option-field input[type="text"]:active {
  border-color: #198fd9;
}
.nav-menus-php .option-field input[type="text"].fusion-slider-input,
.widgets-php .option-field input[type="text"].fusion-slider-input {
  width: 100px;
}
.nav-menus-php .fusion-builder-upload-preview,
.widgets-php .fusion-builder-upload-preview {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.nav-menus-php .fusion-builder-upload-preview img,
.widgets-php .fusion-builder-upload-preview img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 300px;
  display: block;
  float: right;
  border-radius: 0.35em;
}
.nav-menus-php .upload-image-remove,
.widgets-php .upload-image-remove {
  height: 36px;
  margin: 0;
  font-size: 13px;
  color: #333;
  background: #fff;
  border: 1px solid #c7c5c5;
  text-align: center;
  text-decoration: none;
  border-radius: 0;
  cursor: pointer;
  line-height: 28px;
  padding: 0 10px;
}
.nav-menus-php .upload-image-remove:hover,
.widgets-php .upload-image-remove:hover {
  background: #fbf9f9;
}
.nav-menus-php .fusion-builder-upload-button,
.widgets-php .fusion-builder-upload-button,
.nav-menus-php .upload-image-remove,
.widgets-php .upload-image-remove {
  margin-top: 1em !important;
  float: right;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding: 0.6em 0.8em;
  height: auto;
  width: auto;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  font-size: inherit;
  font-weight: 600;
  line-height: normal;
  color: #2a3035;
  outline: none;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.05);
  transition: color 0.2s cubic-bezier(0.21, 0.6, 0.35, 1);
}
.nav-menus-php .fusion-builder-upload-button:hover,
.widgets-php .fusion-builder-upload-button:hover,
.nav-menus-php .upload-image-remove:hover,
.widgets-php .upload-image-remove:hover,
.nav-menus-php .fusion-builder-upload-button:focus,
.widgets-php .fusion-builder-upload-button:focus,
.nav-menus-php .upload-image-remove:focus,
.widgets-php .upload-image-remove:focus,
.nav-menus-php .fusion-builder-upload-button:active,
.widgets-php .fusion-builder-upload-button:active,
.nav-menus-php .upload-image-remove:active,
.widgets-php .upload-image-remove:active {
  background-color: #fff;
  border-color: #dfdfdf;
  color: #198fd9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}
.nav-menus-php .upload-image-remove,
.widgets-php .upload-image-remove {
  margin: 1em 1em 0 0 !important;
}
.nav-menus-php .avada-edit-button,
.nav-menus-php .avada-edit-button,
.nav-menus-php .avada-remove-button,
.widgets-php .avada-remove-button {
  display: none !important;
}
.nav-menus-php .fusion-image-set .avada-upload-button,
.widgets-php .fusion-image-set .avada-upload-button {
  display: none !important;
}
.nav-menus-php .fusion-image-set .avada-edit-button,
.nav-menus-php .fusion-image-set .avada-edit-button,
.nav-menus-php .fusion-image-set .avada-remove-button,
.widgets-php .fusion-image-set .avada-remove-button {
  display: block !important;
}
.nav-menus-php .fusion-builder-modal-container,
.widgets-php .fusion-builder-modal-container {
  font-family: "Noto Sans", Roboto, "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
}
.nav-menus-php .fusion-builder-modal-container input,
.nav-menus-php .fusion-builder-modal-container input,
.nav-menus-php .fusion-builder-modal-container select,
.nav-menus-php .fusion-builder-modal-container select .nav-menus-php .fusion-builder-modal-container textarea,
.widgets-php .fusion-builder-modal-container textarea {
  font-size: 14px;
}
.nav-menus-php .fusion-builder-main-settings h2,
.nav-menus-php .fusion-builder-main-settings h3,
.nav-menus-php .fusion-builder-main-settings h3,
.widgets-php .fusion-builder-main-settings h2 {
  color: #23282d;
  font-size: 1.3em;
  margin: 1em 0;
}
.nav-menus-php .fusion-builder-main-settings h1,
.nav-menus-php .fusion-builder-main-settings h2,
.nav-menus-php .fusion-builder-main-settings h2,
.nav-menus-php .fusion-builder-main-settings h3,
.nav-menus-php .fusion-builder-main-settings h3,
.nav-menus-php .fusion-builder-main-settings h4,
.nav-menus-php .fusion-builder-main-settings h4,
.nav-menus-php .fusion-builder-main-settings h5,
.nav-menus-php .fusion-builder-main-settings h5,
.nav-menus-php .fusion-builder-main-settings h6,
.nav-menus-php .fusion-builder-main-settings h6,
.widgets-php .fusion-builder-main-settings h1 {
  display: block;
  font-weight: 600;
}
.nav-menus-php .fusion-builder-modal-container input,
.nav-menus-php .fusion-builder-modal-container input,
.nav-menus-php .fusion-builder-modal-container select,
.nav-menus-php .fusion-builder-modal-container select,
.nav-menus-php .fusion-builder-modal-container textarea,
.widgets-php .fusion-builder-modal-container textarea {
  font-size: 14px;
}
.nav-menus-php .fusion-menu-options-container {
  float: left;
  width: 100%;
  margin: 10px 0;
}
.widgets-php .fusion-menu-options-container {
  width: 100%;
  margin: 10px 0 20px;
}
.widgets-php .fusion-options-holder.fusion-widget-no-border .fusion-builder-option.fusion-widget-fusion_border_style,
.widgets-php .fusion-options-holder.fusion-widget-no-border .fusion-builder-option.fusion-widget-fusion_border_color {
  display: none;
}
.spinner.fusion-spinner.is-active {
  display: inline-block;
  float: none;
  margin: 8px 0 0 10px;
}
body #adminmenu li.toplevel_page_avada.wp-not-current-submenu:hover:after {
  z-index: 100;
}
body ul#adminmenu li.toplevel_page_avada a.wp-has-current-submenu:after,
ul#adminmenu > li.toplevel_page_avada.current > a.current:after {
  z-index: 200;
}
.manage-column.column-tf_thumbnail {
  width: 40px;
  text-align: center;
}
.manage-column.column-tf_thumbnail .fusion-posts-image-tip {
  display: none;
}
.wp-list-table .tf_thumbnail a {
  width: 40px;
  height: auto;
}
.wp-list-table .tf_thumbnail a img {
  width: 100%;
  max-width: 40px;
  max-height: 40px;
  height: auto;
}
@media (max-width: 782px) {
  .wp-list-table #tf_thumbnail,
  .wp-list-table .column-tf_thumbnail,
  .wp-list-table tbody tr td.tf_thumbnail,
  .wp-list-table .is-expanded td.tf_thumbnail {
    display: none !important;
  }
}
.wp-list-table .column-menu_order {
  width: 5.5em;
}
.post-php .ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 360px;
  background: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  z-index: 100101;
}
.avada-po-dialog {
  z-index: 100001;
  padding: 0 !important;
  background-color: #fff;
  border: 1px solid #e5e5e5 !important;
  border-radius: 0 !important;
  font-size: 1em !important;
  font-family: "Noto Sans", Roboto, "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
}
.avada-po-dialog .ui-dialog-titlebar {
  position: relative !important;
  padding: 0 !important;
  background-image: none !important;
  background-color: #fff !important;
  color: #000 !important;
  border: none !important;
  border-bottom: 1px solid #ebebeb !important;
  font-size: 1.2em !important;
  line-height: 1.4em !important;
  font-weight: normal !important;
  height: auto !important;
  border-radius: 0 !important;
}
.avada-po-dialog .ui-dialog-title {
  display: inline-block !important;
  margin: 0 !important;
  padding: 12px 15px !important;
  float: none !important;
  border-radius: 0 !important;
  width: auto !important;
  overflow: visible !important;
  text-transform: uppercase;
}
.avada-po-dialog .ui-dialog-titlebar-close {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  right: 0 !important;
  margin: 0 !important;
  height: 100% !important;
  width: 45px !important;
  padding: 0 !important;
  border: none !important;
  background: transparent !important;
  color: #c5c5c5 !important;
  cursor: pointer !important;
  outline: none !important;
  border-radius: 0 !important;
  font-size: 0;
}
.avada-po-dialog .ui-dialog-titlebar-close:before {
  font-size: 18px !important;
  width: 45px !important;
  line-height: 45px !important;
  height: 45px !important;
  content: "\f158" !important;
  font-family: dashicons !important;
}
.avada-po-dialog .ui-dialog-titlebar-close:after {
  content: "" !important;
}
.avada-po-dialog .ui-dialog-titlebar-close span {
  display: none !important;
  margin: 0 !important;
  border-radius: 0 !important;
}
.avada-po-dialog .ui-dialog-titlebar-close .ui-button-text {
  display: none !important;
  border-radius: 0 !important;
}
.avada-po-dialog .ui-dialog-content {
  padding: 15px 15px 20px !important;
  border-radius: 0 !important;
}
.avada-po-dialog .ui-dialog-content a {
  color: #0073aa !important;
}
.avada-po-dialog .ui-dialog-content a:active,
.avada-po-dialog .ui-dialog-content a:focus,
.avada-po-dialog .ui-dialog-content a:hover {
  color: #00a0d2 !important;
}
.avada-po-dialog .ui-dialog-content a:focus {
  box-shadow: none !important;
}
.avada-po-dialog .ui-dialog-buttonpane {
  margin: 5px 0 0 !important;
  padding: 0 15px 13px !important;
  border: none !important;
  border-radius: 0 !important;
  background: transparent !important;
  border-top: 1px solid #ebebeb !important;
}
.avada-po-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none !important;
  text-align: right !important;
  border-radius: 0 !important;
  padding: 20px 0 5px !important;
}
.avada-po-dialog .ui-dialog-buttonpane button {
  margin: 0 10px 0 0 !important;
  padding: 5px 15px !important;
  background-image: none !important;
  background-color: #0085ba !important;
  color: #fff !important;
  font-weight: bold !important;
  font-size: 14px !important;
  border: none !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  outline: 0;
  line-height: 1 !important;
}
.avada-po-dialog .ui-dialog-buttonpane button:hover {
  background-color: #008ec2 !important;
  color: #fff !important;
  cursor: pointer;
}
.avada-po-dialog .ui-dialog-buttonpane button .ui-button-text {
  line-height: 1 !important;
  display: inline !important;
}
/* PO export / import tab */
#fusion-page-options-save,
#fusion-page-options-export,
#fusion-page-options-import {
  padding: 9px 13.5px;
  height: auto;
  font-family: "Noto Sans", Roboto, "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  line-height: 1;
  font-weight: 600;
  border-radius: 0.35em;
  background-color: #198fd9;
  color: #fff;
  text-decoration: none;
  outline: none;
  border: none;
  transition: background-color 0.2s cubic-bezier(0.21, 0.6, 0.35, 1);
  box-shadow: 0 1px 3px rgba(25, 143, 217, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-size: inherit;
}
#fusion-page-options-save:hover,
#fusion-page-options-export:hover,
#fusion-page-options-import:hover,
#fusion-page-options-save:focus,
#fusion-page-options-export:focus,
#fusion-page-options-import:focus,
#fusion-page-options-save:active,
#fusion-page-options-export:active,
#fusion-page-options-import:active {
  background-color: #0e7abd;
  color: #fff;
  box-shadow: 0 1px 3px rgba(25, 143, 217, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}
#fusion-page-options-save {
  float: right;
  margin-left: 2px;
  margin-top: 2px;
}
#fusion-new-page-options-name {
  max-width: calc(100% - 150px);
  float: left;
}
#fusion-page-options-buttons-wrap {
  display: none;
}
#fusion-page-options-loader {
  position: absolute;
  top: 10px;
}
.fusion-options-changed #fusion-page-options-loader {
  top: 45px;
}
.avada-po-warning {
  margin: -30px 0 20px -30px;
  border-bottom: 1px solid #e7e7e7;
  background-color: #fcf8e3;
  color: #c09853;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  width: calc(100% + 11px);
  display: none;
}
/* Colorpickers */
.avada-tax-meta-field .wp-picker-container,
.pyre_field .wp-picker-container {
  width: 317px;
}
.avada-tax-meta-field .wp-picker-container.wp-picker-active,
.pyre_field .wp-picker-container.wp-picker-active {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.avada-tax-meta-field .wp-picker-container.wp-picker-active .wp-picker-input-wrap,
.pyre_field .wp-picker-container.wp-picker-active .wp-picker-input-wrap {
  display: inline-flex;
  justify-content: space-between;
  width: 200px;
}
.avada-tax-meta-field .wp-picker-container.wp-picker-active .wp-picker-input-wrap label,
.pyre_field .wp-picker-container.wp-picker-active .wp-picker-input-wrap label {
  width: 100%;
  padding-right: 3px;
  margin-top: 0;
}
.avada-tax-meta-field .wp-picker-container.wp-picker-active .wp-picker-input-wrap input[type="text"],
.pyre_field .wp-picker-container.wp-picker-active .wp-picker-input-wrap input[type="text"] {
  margin-right: 5px;
  width: 100% !important;
}
.avada-tax-meta-field .wp-picker-container .wp-picker-holder,
.pyre_field .wp-picker-container .wp-picker-holder {
  width: 100%;
}
.avada-tax-meta-field .wp-picker-container .iris-picker,
.pyre_field .wp-picker-container .iris-picker {
  width: 100% !important;
  overflow: hidden;
}
.avada-tax-meta-field .wp-picker-container .iris-picker .iris-palette,
.pyre_field .wp-picker-container .iris-picker .iris-palette,
.avada-tax-meta-field .wp-picker-container .iris-picker .iris-slider,
.pyre_field .wp-picker-container .iris-picker .iris-slider,
.avada-tax-meta-field .wp-picker-container .iris-picker .iris-square,
.pyre_field .wp-picker-container .iris-picker .iris-square,
.avada-tax-meta-field .wp-picker-container .iris-picker .iris-square-inner,
.pyre_field .wp-picker-container .iris-picker .iris-square-inner {
  box-shadow: none;
}
.avada-tax-meta-field .wp-picker-container .iris-picker .iris-palette,
.pyre_field .wp-picker-container .iris-picker .iris-palette,
.avada-tax-meta-field .wp-picker-container .iris-picker .iris-slider,
.pyre_field .wp-picker-container .iris-picker .iris-slider,
.avada-tax-meta-field .wp-picker-container .iris-picker .iris-square,
.pyre_field .wp-picker-container .iris-picker .iris-square {
  border: 1px solid #dfdfdf;
}
.avada-tax-meta-field .wp-picker-container .iris-picker .iris-square-inner,
.pyre_field .wp-picker-container .iris-picker .iris-square-inner {
  border-radius: 0;
}
.avada-tax-meta-field .wp-picker-container .iris-picker .iris-picker-inner,
.pyre_field .wp-picker-container .iris-picker .iris-picker-inner {
  display: flex;
}
.avada-tax-meta-field .wp-picker-container .iris-picker .iris-picker-inner .iris-slider,
.pyre_field .wp-picker-container .iris-picker .iris-picker-inner .iris-slider {
  width: 25px !important;
  margin-left: 15px !important;
  height: 100% !important;
  border-radius: 0;
}
.avada-tax-meta-field .wp-picker-container .iris-picker .iris-picker-inner .iris-slider .ui-slider-handle,
.pyre_field .wp-picker-container .iris-picker .iris-picker-inner .iris-slider .ui-slider-handle {
  margin-bottom: 0;
  right: -3px;
  left: -3px;
  border-radius: 0;
}
.avada-tax-meta-field .wp-picker-container .iris-picker .iris-picker-inner .iris-square,
.pyre_field .wp-picker-container .iris-picker .iris-picker-inner .iris-square {
  width: calc(100% - 45px) !important;
  margin-right: 0;
  border-radius: 0;
}
.avada-tax-meta-field .wp-picker-container .iris-picker.iris-border,
.pyre_field .wp-picker-container .iris-picker.iris-border {
  padding-bottom: 30px !important;
  border-radius: 0.35em;
}
.avada-tax-meta-field .wp-picker-container .iris-picker .iris-square-value,
.pyre_field .wp-picker-container .iris-picker .iris-square-value {
  display: block;
  width: 0 !important;
  height: 0 !important;
  outline: none;
  box-shadow: none;
}
.avada-tax-meta-field .wp-picker-container .iris-picker .iris-square-handle,
.pyre_field .wp-picker-container .iris-picker .iris-square-handle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.avada-tax-meta-field .wp-picker-container .iris-palette-container,
.pyre_field .wp-picker-container .iris-palette-container {
  display: flex;
  width: calc(100% - 45px) !important;
}
.avada-tax-meta-field .wp-picker-container .iris-palette-container > .iris-palette,
.pyre_field .wp-picker-container .iris-palette-container > .iris-palette {
  border: 1px solid #e7e7e7;
  margin-left: 2px !important;
  margin-right: 0 !important;
  width: 19px !important;
  height: 19px !important;
  border-radius: 0;
  box-shadow: none;
}
.avada-tax-meta-field .wp-picker-container .iris-palette-container > .iris-palette:first-child,
.pyre_field .wp-picker-container .iris-palette-container > .iris-palette:first-child {
  margin-left: 0 !important;
}
.avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container,
.pyre_field .wp-picker-container.wp-picker-alpha-container {
  width: 365px;
}
.avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container .iris-picker .iris-square,
.pyre_field .wp-picker-container.wp-picker-alpha-container .iris-picker .iris-square {
  width: calc(100% - 85px) !important;
  margin-right: 15px;
}
.avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container .iris-palette-container > .iris-palette,
.pyre_field .wp-picker-container.wp-picker-alpha-container .iris-palette-container > .iris-palette {
  width: 20px !important;
  height: 20px !important;
}
.avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container .iris-palette-container > .iris-palette:first-child,
.pyre_field .wp-picker-container.wp-picker-alpha-container .iris-palette-container > .iris-palette:first-child {
  margin-left: 0 !important;
}
.avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap,
.pyre_field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap {
  width: calc(100% - 120px);
}
.avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap label input[type="text"],
.pyre_field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap label input[type="text"] {
  width: 100% !important;
}
.avada-tax-meta-field .wp-color-result,
.pyre_field .wp-color-result {
  border-radius: 0;
  box-shadow: none;
}
.avada-tax-meta-field .button.wp-color-result,
.pyre_field .button.wp-color-result {
  height: 34px;
  border-radius: 0.35em;
  box-shadow: none;
  border-color: #dfdfdf;
}
.avada-tax-meta-field .button .wp-color-result-text,
.pyre_field .button .wp-color-result-text {
  border-color: #dfdfdf;
}
.avada-tax-meta-field .wp-color-result-text,
.pyre_field .wp-color-result-text {
  height: 100%;
  line-height: 30px;
  background-color: #fff;
  border-left-color: #dfdfdf;
  border-radius: 0;
}
.avada-tax-meta-field .wp-picker-container input[type="text"],
.pyre_field .wp-picker-container input[type="text"] {
  height: 34px;
  min-height: 34px;
}
.avada-tax-meta-field .wp-picker-container input[type="button"],
.pyre_field .wp-picker-container input[type="button"] {
  height: 34px;
  border-radius: 4px;
  border-color: #dfdfdf;
  background-color: #fff;
  color: #2a3035;
  box-shadow: none;
  transition: color 0.2s cubic-bezier(0.21, 0.6, 0.35, 1);
}
.avada-tax-meta-field .wp-picker-container input[type="button"]:hover,
.pyre_field .wp-picker-container input[type="button"]:hover,
.avada-tax-meta-field .wp-picker-container input[type="button"]:focus,
.pyre_field .wp-picker-container input[type="button"]:focus,
.avada-tax-meta-field .wp-picker-container input[type="button"]:active,
.pyre_field .wp-picker-container input[type="button"]:active {
  color: #198fd9;
}
/* WooCommerce Avada Color Preview Column*/
.column-avada_color {
  width: 30px;
}
.column-avada_image {
  width: 75px;
}
.avada-color-column-preview {
  width: 30px;
  height: 30px;
  border: 1px solid #999;
  border-radius: 4px;
}
.avada-image-column-preview {
  width: 75px;
  height: 75px;
  border: 1px solid #999;
  border-radius: 4px;
}
.avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container .iris-palette-container > .iris-palette {
  width: 22px !important;
  height: 22px !important;
}
.avada-tax-meta-field .wp-picker-container .iris-picker.iris-border {
  padding-bottom: 40px !important;
}
.fusion-sortable-option {
  margin-bottom: 10px;
  padding: 0 7px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  height: 34px;
  line-height: 34px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 0.35em;
  cursor: move;
}
.fusion-sortable-option:last-child {
  margin-bottom: 0;
}
.rtl #pyre_page_options .wp-picker-container {
  justify-content: baseline;
}
.rtl #pyre_page_options .wp-picker-container .wp-color-result {
  margin-left: 0;
  padding-right: 30px;
}
.rtl #pyre_page_options .wp-picker-container .wp-picker-input-wrap {
  width: calc(100% - 103px);
}
.rtl #pyre_page_options .wp-picker-container .wp-picker-input-wrap .wp-picker-clear {
  margin: 0;
}
.rtl #pyre_page_options .wp-picker-container .wp-picker-input-wrap .color-picker {
  margin: 0;
}
.rtl #pyre_page_options .wp-picker-container .wp-picker-input-wrap label {
  padding: 0 8px;
}
.rtl #pyre_page_options .wp-picker-container .wp-picker-holder .iris-strip {
  margin-left: 0 !important;
  margin-right: 15px !important;
}
.rtl #pyre_page_options .wp-picker-container .wp-picker-holder .iris-palette-container .iris-palette {
  margin-left: 2px !important;
}
.rtl #pyre_page_options .wp-picker-container .wp-picker-holder .iris-picker {
  width: calc(100% - 4px) !important;
}
.rtl .avada-tax-meta-field .wp-picker-container {
  justify-content: baseline;
}
.rtl .avada-tax-meta-field .wp-picker-container .wp-color-result {
  margin: 0;
}
.rtl .avada-tax-meta-field .wp-picker-container .wp-picker-input-wrap {
  width: calc(100% - 108px) !important;
}
.rtl .avada-tax-meta-field .wp-picker-container .wp-picker-input-wrap .wp-picker-clear {
  margin: 0;
}
.rtl .avada-tax-meta-field .wp-picker-container .wp-picker-input-wrap label {
  padding: 0 8px;
}
.rtl .avada-tax-meta-field .wp-picker-container .wp-picker-input-wrap label .wp-color-picker {
  margin: 0;
}
.rtl .avada-tax-meta-field .wp-picker-container .wp-picker-holder .iris-picker {
  width: calc(100% - 2px) !important;
}
.rtl .avada-tax-meta-field .wp-picker-container .wp-picker-holder .iris-picker .iris-strip {
  margin-left: 0 !important;
  margin-right: 15px !important;
}
.rtl .avada-tax-meta-field .wp-picker-container .wp-picker-holder .iris-picker .iris-palette-container {
  left: auto;
  right: 10px;
}
.rtl .avada-tax-meta-field .wp-picker-container .wp-picker-holder .iris-picker .iris-palette-container .iris-palette {
  margin-left: 4px !important;
}
.rtl .avada-tax-meta-table th {
  text-align: right;
}
.rtl .avada-tax-meta-table .avada-tax-meta-field td {
  padding-right: 25px;
  padding-left: 0;
}
.rtl #wpwrap .fusionredux-container #fusionredux-form-wrapper .form-table .fusion_options .wp-picker-container {
  justify-content: baseline;
}
.rtl #wpwrap .fusionredux-container #fusionredux-form-wrapper .form-table .fusion_options .wp-picker-container .wp-picker-input-wrap {
  width: calc(100% - 103px);
}
.rtl #wpwrap .fusionredux-container #fusionredux-form-wrapper .form-table .fusion_options .wp-picker-container .wp-picker-input-wrap label {
  padding: 0 8px;
}
.rtl #wpwrap .fusionredux-container #fusionredux-form-wrapper .form-table .fusion_options .wp-picker-container .wp-picker-input-wrap label .color-picker {
  margin: 0;
}
.rtl #wpwrap .fusionredux-container #fusionredux-form-wrapper .form-table .fusion_options .wp-picker-container .wp-picker-input-wrap .wp-picker-default {
  margin: 0;
}
.rtl #wpwrap .fusionredux-container #fusionredux-form-wrapper .form-table .fusion_options .wp-picker-container .wp-picker-holder .iris-picker {
  width: calc(100% - 3px) !important;
}
.rtl #wpwrap .fusionredux-container #fusionredux-form-wrapper .form-table .fusion_options .wp-picker-container .wp-picker-holder .iris-picker .iris-slider {
  margin-left: 0 !important;
  margin-right: 15px !important;
}
.rtl #wpwrap .fusionredux-container #fusionredux-form-wrapper .form-table .fusion_options .wp-picker-container .wp-picker-holder .iris-palette-container {
  left: auto;
  right: 10px;
}
.rtl #wpwrap .fusionredux-container #fusionredux-form-wrapper .form-table .fusion_options .wp-picker-container .wp-picker-holder .iris-palette-container .iris-palette {
  margin-left: 1.7px !important;
}
.fusion-colorpicker-legacy .avada-tax-meta-field .wp-color-result,
.fusion-colorpicker-legacy .pyre_field .wp-color-result {
  height: 32px;
}
.fusion-colorpicker-legacy .avada-tax-meta-field .wp-color-result:after,
.fusion-colorpicker-legacy .pyre_field .wp-color-result:after {
  height: 100%;
  line-height: 32px;
  font-size: 12px;
  padding: 0 10px;
}
.fusion-colorpicker-legacy .avada-tax-meta-field .wp-picker-container.wp-picker-active .wp-picker-input-wrap,
.fusion-colorpicker-legacy .pyre_field .wp-picker-container.wp-picker-active .wp-picker-input-wrap {
  width: 190px;
}
.fusion-colorpicker-legacy .avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap,
.fusion-colorpicker-legacy .pyre_field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap {
  width: 240px;
  max-width: calc(100% - 140px);
}
.fusion-colorpicker-legacy .avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap input[type="text"],
.fusion-colorpicker-legacy .pyre_field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap input[type="text"] {
  max-height: 31px;
}
.fusion-colorpicker-legacy .avada-tax-meta-field .wp-picker-container .wp-picker-input-wrap {
  width: 190px;
}
.fusion-colorpicker-legacy .avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap {
  width: 215px;
}
.fusion-colorpicker-legacy .avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap input[type="text"] {
  max-height: 34px;
}
.fusion-colorpicker-legacy .avada-tax-meta-field .wp-picker-container.wp-picker-alpha-container .iris-palette-container > .iris-palette {
  width: 22px !important;
  height: 22px !important;
}
.fusion-colorpicker-legacy .pyre_field .wp-picker-container.wp-picker-active .wp-picker-input-wrap {
  max-width: calc(100% - 140px);
}
.fusion-colorpicker-legacy .pyre_field .wp-picker-container.wp-picker-active input[type="text"] {
  height: 32px;
  max-height: 32px;
}
.fusion-colorpicker-legacy .pyre_field .wp-picker-container.wp-picker-alpha-container .wp-picker-input-wrap input[type="text"] {
  height: 32px;
  max-height: 32px;
}
.fusion-colorpicker-legacy .pyre_page_options .pyre_field .wp-picker-container.wp-picker-active .wp-picker-input-wrap {
  width: 190px;
}
.pyre_field .wp-picker-container {
  max-width: calc(100% - 2px);
}
.pyre_field .wp-picker-container .iris-palette-container > .iris-palette {
  max-width: calc((100% - 60px) / 11) !important;
}
.pyre_field .wp-picker-container.wp-picker-alpha-container .iris-palette-container > .iris-palette {
  max-width: calc((100% - 100px) / 11) !important;
}
.nav-menus-php #menu-management .item-edit {
  overflow: hidden;
}
.fusion-notice {
  margin-top: 1.7em;
}
.fusion-notice .avada-data-response {
  margin-top: 2em;
  display: none;
}
.fusion-notice .avada-data-response .data-success-response {
  display: none;
  border-left: 4px solid #65bc7b;
  padding: 0.6em;
  border-radius: 5px;
}
.fusion-notice .avada-data-response .data-error-response {
  display: none;
  border-left: 4px solid #dc3232;
  padding: 0.6em;
  border-radius: 5px;
}
#wpbody .fusion-notice td {
  padding: 2px 15px 2px 0;
  font-size: 13px;
}
#wpbody .avada-wrap .fusion-notice {
  max-width: calc(100% - 250px);
}
.rtl #wpbody .fusion-notice td {
  padding: 2px 0 2px 15px;
}
.avada-dashboard .avada-db-table .wp-list-table tbody tr td.column-condition {
  vertical-align: middle;
}
.awb-off-canvas-conditions-constoller {
  width: 100%;
  background: #fff;
  color: #3e3e3e;
  border: 1px solid #e5e5e5;
  padding: 0.6em 0.8em;
  border-radius: 0.35em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  text-align: center;
  transition: background-color 0.2s cubic-bezier(0.21, 0.6, 0.35, 1);
  box-sizing: border-box;
}
.awb-off-canvas-conditions-constoller.has-conditions li.no-condition-select {
  display: none;
}
.awb-off-canvas-conditions-constoller span.awb-conditions {
  max-width: 100%;
  color: #93999f;
}
.awb-off-canvas-conditions-constoller span.awb-conditions i {
  margin: 0 5px 0 0;
}
.awb-off-canvas-conditions-constoller span.awb-conditions ul {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin: 0;
  color: inherit;
  transition: all 0.2s cubic-bezier(0.21, 0.6, 0.35, 1);
}
.awb-off-canvas-conditions-constoller span.awb-conditions ul li {
  margin: 0 4px;
  display: inline-block;
  align-items: center;
  position: relative;
  font-size: 13px;
  color: inherit;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.awb-off-canvas-conditions-constoller span.awb-conditions ul li:before {
  width: 6px;
  height: 6px;
  display: inline-block;
  background: #14c983;
  content: "";
  border-radius: 10px;
  position: relative;
  top: -2px;
  margin: 0 5px;
}
.awb-off-canvas-conditions-constoller span.awb-conditions ul li.no-condition-select:before {
  width: auto;
  height: auto;
  background: transparent;
  content: "\f0ac";
  font-family: "icomoon";
  font-size: 14px;
  color: #3a93ca;
  position: relative;
  top: 1px;
}
.awb-off-canvas-conditions-constoller span.awb-conditions ul li.exclude:before {
  background: #e0284f;
}
.pyre_metabox .awb-manage-conditions-wrapper {
  margin-top: 10px;
}
.pyre_metabox .awb-manage-conditions-wrapper .awb-manage-conditions {
  padding: 0.4em 0.8em;
  width: 100%;
  text-align: center;
  background-color: #198fd9;
  border: none;
  font-weight: 600;
  transition: background-color 0.2s cubic-bezier(0.21, 0.6, 0.35, 1);
  box-shadow: 0 1px 3px rgba(25, 143, 217, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}
.pyre_metabox .awb-manage-conditions-wrapper .awb-manage-conditions:hover,
.pyre_metabox .awb-manage-conditions-wrapper .awb-manage-conditions:focus,
.pyre_metabox .awb-manage-conditions-wrapper .awb-manage-conditions:active {
  background-color: #0e7abd;
  color: #fff;
  box-shadow: 0 1px 3px rgba(25, 143, 217, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}
.postbox .inside .pyre_metabox .pyre_metabox_tab .pyre_metabox_field.has-responsive .pyre_field {
  padding-left: 45px;
  box-sizing: border-box;
}
.postbox .inside .pyre_metabox .pyre_metabox_tab .pyre_metabox_field.has-responsive .pyre_field:before {
  font-family: "icomoon" !important;
  width: 33px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e8e6e6;
  color: #93999f;
  margin: 0 10px 0 0;
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 0;
}
.postbox:not(.fusion-medium):not(.fusion-small) .inside .pyre_metabox .pyre_metabox_tab .pyre_metabox_field.has-responsive.fusion-large .pyre_field:before {
  content: "\e933";
}
.postbox:not(.fusion-medium):not(.fusion-small) .inside .pyre_metabox .pyre_metabox_tab .pyre_metabox_field.fusion-large {
  display: block;
}
.postbox:not(.fusion-medium):not(.fusion-small) .inside .pyre_metabox .pyre_metabox_tab .pyre_metabox_field.fusion-medium,
.postbox:not(.fusion-medium):not(.fusion-small) .inside .pyre_metabox .pyre_metabox_tab .pyre_metabox_field.fusion-small {
  display: none !important;
}
.postbox.fusion-medium .inside .pyre_metabox .pyre_metabox_tab .pyre_metabox_field.has-responsive.fusion-medium .pyre_field:before {
  content: "\e932";
}
.postbox.fusion-medium .inside .pyre_metabox .pyre_metabox_tab .pyre_metabox_field.fusion-medium {
  display: block;
}
.postbox.fusion-medium .inside .pyre_metabox .pyre_metabox_tab .pyre_metabox_field.fusion-large,
.postbox.fusion-medium .inside .pyre_metabox .pyre_metabox_tab .pyre_metabox_field.fusion-small {
  display: none !important;
}
.postbox.fusion-small .inside .pyre_metabox .pyre_metabox_tab .pyre_metabox_field.has-responsive.fusion-small .pyre_field:before {
  content: "\e931";
}
.postbox.fusion-small .inside .pyre_metabox .pyre_metabox_tab .pyre_metabox_field.fusion-small {
  display: block;
}
.postbox.fusion-small .inside .pyre_metabox .pyre_metabox_tab .pyre_metabox_field.fusion-large,
.postbox.fusion-small .inside .pyre_metabox .pyre_metabox_tab .pyre_metabox_field.fusion-medium {
  display: none !important;
}
.pyre_metabox_field .fusion-states-panel {
  display: inline;
  position: relative;
  vertical-align: -0.155em;
}
.pyre_metabox_field .fusion-states-panel a.option-has-state {
  text-decoration: none;
  color: #999;
  margin-left: 10px;
}
.pyre_metabox_field .fusion-states-panel a.option-has-state:hover,
.pyre_metabox_field .fusion-states-panel a.option-has-state:focus {
  color: #00a0d2;
}
.pyre_metabox_field .fusion-states-panel.active-item .fusion-state-options {
  visibility: visible;
  opacity: 1;
}
.pyre_metabox_field.pyre_metabox_field_state_hidden {
  display: none !important;
}
.pyre_metabox_field .fusion-state-options {
  position: absolute;
  top: 25px;
  left: 0;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 4px;
  padding: 0;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  z-index: 200;
  border: 1px solid #ddd;
}
.pyre_metabox_field .fusion-state-options li {
  margin: 0;
  padding: 0;
}
.pyre_metabox_field .fusion-state-options li:first-child {
  border-right: 1px solid #ddd;
}
.pyre_metabox_field .fusion-state-options li:not(:first-child) {
  border-left: 1px solid #ddd;
}
.pyre_metabox_field .fusion-state-options li:first-child a {
  border-radius: 4px 0 0 4px;
}
.pyre_metabox_field .fusion-state-options li:last-child a {
  border-radius: 0 4px 4px 0;
}
.pyre_metabox_field .fusion-state-options li a {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #999;
  font-size: 16px;
}
.pyre_metabox_field .fusion-state-options li a:hover {
  color: #00a0d2;
}
.pyre_metabox_field .fusion-state-options li a:focus {
  box-shadow: 0 0 0 1px #4f94d4, 0 0 2px 1px rgba(79, 148, 212, 0.8);
  outline: 1px solid transparent;
  color: #00a0d2;
  position: relative;
  z-index: 1;
}
